In [51]:
import os
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [52]:
#df=pd.read_excel(r'C:\Users\ajuli\Desktop\python\auto-mpg .xlsx')
df = pd.read_csv(r"C:\Users\ajuli\Desktop\Npower\activities\adult.csv")
df.head(25)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K

In [53]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [54]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [55]:
df.dropna(inplace=True)

In [56]:
df.duplicated().value_counts()

False    32537
True        24
Name: count, dtype: int64

In [57]:
df['education']

0          Bachelors
1          Bachelors
2            HS-grad
3               11th
4          Bachelors
            ...
32556     Assoc-acdm
32557        HS-grad
32558        HS-grad
32559        HS-grad
32560        HS-grad
Name: education, Length: 32561, dtype: object

In [58]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [152]:

col = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

In [61]:
for i in col:
    if df[i].dtype == 'object':  # Check if the column is of string data type
        df[i] = df[i].str.strip()

In [62]:
female_age_mean = df[df['gender'] == 'Female']['age'].mean()

print("Average age of females:", female_age_mean)

Average age of females: 36.85823043357163

In [63]:
german_citizens = df[df['native-country'].str.strip() == 'Germany']
percentage_german_citizens = (len(german_citizens) / len(df)) * 100

print(f"Percentage of German citizens: {percentage_german_citizens:.2f}%")

Percentage of German citizens: 0.42%

In [75]:
high_income = df[df['income'] == ' >50K']
low_income = df[df['income'] == ' <=50K']

In [66]:
mean_age_high_income = high_income['age'].mean()
std_age_high_income = high_income['age'].std()

print("Mean age for high income (>50K):", mean_age_high_income)
print("Standard deviation of age for high income (>50K):", std_age_high_income)

Mean age for high income (>50K): 44.24984058155847
Standard deviation of age for high income (>50K): 10.51902771985177

In [67]:
mean_age_low_income=low_income['age'].mean()
std_age_low_income=low_income['age'].std()
                              
print("Mean age for low income (<=50K):", mean_age_low_income)
print("Standard deviation of age for low income (<=50K):", std_age_low_income)

Mean age for low income (<=50K): 36.78373786407767
Standard deviation of age for low income (<=50K): 14.020088490824813

In [97]:
# Create a cross-tabulation of income and education
cross_tab = pd.crosstab(df['income'], df['education'])

print(cross_tab)

education   10th   11th   12th   1st-4th   5th-6th   7th-8th   9th  \
income
 <=50K       871   1115    400       162       317       606   487
 >50K         62     60     33         6        16        40    27

education   Assoc-acdm   Assoc-voc   Bachelors   Doctorate   HS-grad  \
income
 <=50K             802        1021        3134         107      8826
 >50K              265         361        2221         306      1675

education   Masters   Preschool   Prof-school   Some-college
income
 <=50K          764          51           153           5904
 >50K           959           0           423           1387

In [96]:
high_education = [' Bachelors', ' Assoc-voc', ' Assoc-acadm', ' Prof-school', ' Doctorate']
high_income_to_high_education = df[df['income']=='>50k']['education'].isin(high_education).all()

# Now, high_income_to_high_education contains individuals with high income and high education
print(high_income_to_high_education)

True

In [103]:
age_to_race_gender=df.groupby(['race','gender'])['age'].describe()
print(age_to_race_gender)

                               count       mean        std   min   25%   50%  \
race                gender
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                gender
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

In [117]:
grouped = df.groupby(['race', 'gender'])
statistics = grouped['age'].describe()

In [160]:
max_age_amer_indian_eskimo_men = statistics.loc[(' Amer-Indian-Eskimo', ' Male'), 'max']
print("Age statistics for each race and gender:")
print(statistics)
print("\nMaximum age of Amer-Indian-Eskimo men:", max_age_amer_indian_eskimo_men)

Age statistics for each race and gender:
                               count       mean        std   min   25%   50%  \
race                gender
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                gender
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

Maximum age of Amer-Indian-Eskimo men: 82.0

In [157]:
#income=>50k
#married, single, men
married=['Married-civ-spouse','Married_spose_sbsect','Married_AF_spouse']
#married_men = df[(df['marital-status'].isin(married_statuses)) & (df['sex'] == ' Male')]
married_men=df[(df['marital-status'].isin(married))&(df['gender']=='Male')]
single_men=df[~(df['marital-status'].isin(married))&(df['gender']=='Male')]

In [158]:
# Calculate the proportions of high-income individuals for married and single men
proportion_married_income = df[(df['income'] == ' >50K') & df['marital-status'].str.startswith(' Married') & (df['gender'] == ' Male')].shape[0] / df[(df['marital-status'].str.startswith(' Married') & (df['gender'] == ' Male'))].shape[0]
proportion_single_men_income = df[(df['income'] == ' >50K') & ~df['marital-status'].str.startswith(' Married') & (df['gender'] == ' Male')].shape[0] / df[~df['marital-status'].str.startswith(' Married') & (df['gender'] == ' Male')].shape[0]

# Compare the proportions
if proportion_married_income > proportion_single_men_income:
    print('Proportion of high-income individuals is greater among married men.')
elif proportion_single_men_income > proportion_married_income:
    print('Proportion of high-income individuals is greater among single men.')
else:
    print("Proportion of high-income individuals is the same among married and single men.")

Proportion of high-income individuals is greater among married men.

In [159]:

married_statuses = [' Married-civ-spouse', ' Married-spouse-absent', ' Married-AF-spouse']

# Step 2: Create subsets for married and single men
married_men = df[(df['marital-status'].isin(married_statuses)) & (df['gender'] == ' Male')]
single_men = df[(~df['marital-status'].isin(married_statuses)) & (df['gender'] == ' Male')]

# Step 3: Calculate the proportions of high-income individuals
proportion_married_men = (married_men['income'] == ' >50K').mean()
proportion_single_men = (single_men['income'] == ' >50K').mean()

# Step 4: Compare the proportions
if proportion_married_men > proportion_single_men:
    print("Proportion of high-income individuals is greater among married men.")
elif proportion_married_men < proportion_single_men:
    print("Proportion of high-income individuals is greater among single men.")
else:
    print("Proportion of high-income individuals is the same among married and single men.")

Proportion of high-income individuals is greater among married men.

In [163]:
hours_per_week=df['hours-per-week'].max()